/* CSS Document */
body {
	color: #333;
	font-family: "Microsoft YaHei", "微软雅黑", "Tahoma", "Arial";
	font-size: 12px;
	margin: 0;
	padding: 0;
}

ul, h1, h2, h3, h4, h5, h6, p, li, input, textarea {
	margin: 0;
	padding: 0;
	list-style: none;
}

.w1000 {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

.logo {
	float: left;
	margin-top: 10px;
	font-size: 28px;
	color: #ff9900;
}

.header {
	background: url(../img/header-bg.jpg); repeat-x;
	height: 60px;
	width: 100%;
}

.clear {
	clear: both;
}

.nav {
	float: right;
}

.nav ul li {
	float: left;
	display: inline-block;
}

.nav ul li img {
	margin-top: 25px;
	margin-right: 10px;
	width: 30px;
	line-height: 30px;
}

.nav ul li a {
	width: 80px;
	font-size: 14px;
	color: #ff9900;
	display: inline-block;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
}

.nav ul li a.on {
	background: #ff9900;
	color: #fff;
}

.nav ul li a:hover {
	background: #ff9900;
	color: #fff;
}

.width01 {
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
}

.width01 img {
	width: 150px;
}

.nav01 {
	float: right;
	margin-top: 35px;
}

.nav01 select {
	border: 1px solid #DDDDDD;
	float: left;
	font-size: 14px;
	height: 30px;
	line-height: 100px;
	margin: 0 5px 0 0;
	padding: 5px;
}

.nav01 ul li {
	float: left;
	width: 480px display: inline-block;
}

.nav01 input {
	float: left
}

.nav01 .ssk {
	float: left;
	width: 315px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #f55c00;
	vertical-align: middle;
	text-indent: 2px;
	color: #999
}

.nav01 .button {
	margin: 0 5px 0 5px;
	float: left;
	height: 28px;
	line-height: 28px;
	border: 1px solid #f55c00;
	vertical-align: middle;
	text-indent: 2px;
}

.nav02 {
	width: 400px;
	margin: auto;
	margin-top: 5px;
}

.nav02 ul li {
	float: left;
	margin-left: 25px;
}

@CHARSET "UTF-8";

/* a:link:未访问的链接 */
/* a:hover:鼠标移动到链接上 */
/* a:active:鼠标按下 */
.dv1 {
	padding: 5px;
	margin-left: 15px;
}

a:visited {
	text-decoration: none;
	color: #ff7744;
}

a:hover {
	text-decoration: underline;
	color: red;
}

a:active {
	text-decoration: overline;
	color: #aaaaaa;
}

.img1 {
	width: 780px;
}

h1 {
	text-align: center;
	font-family: '华文行楷';
	color: #3366ff;
}

.p1 {
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 80px;
}

.img2, .img3, .img4, .img5, .img6, .img7 {
	padding: 5px;
	width: 200px;
	height: 150px;
}

.dv3 {
	height: 800px;
	width: 1000px;
	margin: 0 auto;
}

.dv4, .dv5, .dv6, .dv7, .dv8, .dv9 {
	width: 200px;
	height: 180px;
	border: 1px dotted gray;
	float: left;
	margin-top: 10px;
	margin-left: 90px;
}

.a3, .a4, .a5, .a6, .a7, .a8 {
	margin-left: 30px;
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6 {
	margin-left: 15px;
}

.font25 {
	margin: auto;
	font-size: 25px;
	text-align: center;
}

.dv10 {
	margin-top:20px;
	margin: 0 auto;
	font-size: 12px;
	text-align: center;
}
.dvMain{
	width:1000px;
	margin: 0 auto;
}
.dvMain table tr td{
	width:100px
	margin:0 auto;
	text-align:center;
	
}
.dvMain table tr td input{
	margin:0 auto;
	text-align:center;
	margin-left: 10px;
}
.main_nav {width:300px; height:60px; margin:60px auto 10px auto}
.main_nav li{float:left; width:60px; margin-right:10px; font-size:16px;  
  padding: .6em 1em;
  
  border-radius: 3em;
  background: #2f889a;
  text-align:center;
  list-style: none;
}
.main_nav li a{color:#fff}

.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0; 
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s;
}
.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0, visibility 0 0;
  -moz-transition: opacity 0.3s 0, visibility 0 0;
  transition: opacity 0.3s 0, visibility 0 0;
}
.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.cd-user-modal-container .cd-switcher:after {
  content: "";
  display: table;
  clear: both;
}
.cd-user-modal-container .cd-switcher li {
  width: 93%;
  float: left;
  text-align: center;
  list-style: none;
}
.cd-user-modal-container .cd-switcher li:first-child a {
  border-radius: .25em 0 0 0;
}
.cd-user-modal-container .cd-switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}
.cd-user-modal-container .cd-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}
.cd-form {
  padding: 1.4em;
}
.cd-form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.cd-form label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.cd-form label.cd-username {
  background-image: url("../img/cd-icon-username.svg");
}

.cd-form label.cd-password {
  background-image: url("../img/cd-icon-password.svg");
}
.cd-form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}
.cd-form input.full-width {
  width: 80%;
}
.cd-form input.full-width2 {
  width: 94%;
}
.cd-form input.has-padding {
  padding: 12px 20px 12px 50px;
}
.cd-form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.cd-form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
.cd-form input.has-error {
  border: 1px solid #d76666;
}
.cd-form input[type=password] {
  /* space left for the HIDE button */
  padding-right: 65px;
}
.cd-form input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #2f889a;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
#cd-login, #cd-signup, #cd-reset-password {
  display: none;
}

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block;
}